# Comparison Operators

**Operator**    |     **Name**
==                Equal

!=                Not equal

">"               Greater than

<                 Less than

">="              Greater than or equal to

<=                Less than or equal to

### Examples

In [1]:
10 == 50

False

In [2]:
10 != 50

True

In [4]:
'Vanilla' == 'Chocolate'

False

In [6]:
x = 'Vanilla'
y = 'Chocolate'

x==y

False

# Logical Operators

**Operator**           **Description**

**and**-Returns True if both statements are true

**or**-Returns True if one of the statements is true

**not**-Reverse the result, returns False if the result is true

**Example**

In [7]:
(10>50) and (50>10)

False

In [8]:
(70>50) and (50>10)

True

In [9]:
(10>50) or (50>10)

True

In [10]:
(70>50) or (50>10)

True

In [11]:
not(50>10)

False

# Membership Operators

**Operator**           **Description**

in - Returns True if a sequence with the specified value is present in the object

not in - Returns True if a sequence with the specified value is not present in the object

**Example**

In [14]:
ice_cream = 'I love Chocolate Ice_Cream'

'love' in 'I love Chocolate ice-cream'

True

In [17]:
scoops = [1,2,3,4,5]

2 in scoops

True

In [18]:
time = [2,3,5,8,9]

10 not in time

True