# Data Types in Python

**Data types** are the classification of the data that I am storing.

These classifications tell me what operations can be performed on my data.

**Types of Data Types:**
* Numeric
* Sequence Type
* Set
* Boolean
* Dictionary

### Numeric

There are 3 different types of the numeric data type. They are:

* Integers
* Float
* Complex Numbers

**Integers** are basely a whole number, whether it is positive or negative.

**Example** of integers:

In [4]:
type(12)
type(-12)
type(-12 +100)

int

**Floats** are numbers that are not whole numbers, but decimal numbers.

**Example** of floats:

In [5]:
type(10+10.25)

float

**Complex Numbers Data Type** is used for imaginary numbers, where "j" is used as an imaginary number.

**Eample** of complex numbers:

In [6]:
type(3+3j)

complex

**Note:** If you use another letter, like "c" as the imaginary number, it will give an error.

**Example:**

In [7]:
type(3+2c)

SyntaxError: invalid syntax (3417534782.py, line 1)

### Boolean Values

The **boolean** data type only has two built in values. **Either true or false.**

In [10]:
type(True)
type(False)

bool

The boolean value can also be used as a **comparison opearator.**

**Example:**

In [17]:
type(1 > 10)

bool

In [16]:
1 > 5

False

In [18]:
1 == 1

True

### Sequence Type 

**It includes strings, lists and tuples.**

**Strings:** In python, strings arrays of binaries, representing unicode characters. When using strings, they can be put in a single quote, ouble quote or tripple quote.

**Note:** Tripple quotes are also called multi-lines. Where we can write mutiple lines of sentences.

**Example of Single quote:**

In [19]:
'Single Quote'

'Single Quote'

In [20]:
"Double Quote"

'Double Quote'

In [22]:
Multiline = '''
The ice cream is a lovely mixture
of happiness and sadness.

Sadness due to how short the happiness lasts.
'''

In [23]:
print(Multiline)

The ice cream is a lovely mixture
of happiness and sadness.

Sadness due to how short the happiness lasts.

In [24]:
type(Multiline)

str

**Note:** Strings can be indexed. 

A **String** can store one value, multiple characters.

**Indexing** means you can search within it and index starts at 0.

**Example of Indexing:**

In [25]:
a = 'Hello World!'

In [29]:
print(a[0:5])

Hello

In [31]:
a *3

'Hello World!Hello World!Hello World!'

In [32]:
a+a

'Hello World!Hello World!'

**List** are really fantastic because they store multiple values.

A **List** can store multiple seperate values

A **list** is also denoted with [] bracket.

**One of the great things about list is that you can have any data type within them and they don't have to be just numbers and strings.**

In list, you can have different values, **such as boolean values, other lists and even numeric values.**

One thing that is great about list, is that they are changeable.

For a list, you can have a list, within a list (nested list)

**Example of a List:**

In [33]:
[1, 2, 3]

[1, 2, 3]

In [34]:
['Donald', 'Amanda', 'Michael']

['Donald', 'Amanda', 'Michael']

In [35]:
['Vanilla', 3, ['Scoops', 'Spoons'], True]

['Vanilla', 3, ['Scoops', 'Spoons'], True]

In [38]:
ice_cream = ['Vanilla', 'Chocolate', 'Strawberry']

ice_cream.append ('Salted Cramel')

ice_cream

['Vanilla', 'Chocolate', 'Strawberry', 'Salted Cramel']

In [40]:
ice_cream[1] = 'Butter Pecan'

ice_cream

['Vanilla', 'Butter Pecan', 'Strawberry', 'Salted Cramel']

The difference between **a list and a tuple** is that a tuple is something called **immutable**

**A tuple** cannot be modified or changed after it has been created.

A tuple can also store data.

Tuples can also be indexed.

People use tuples when they are sure that the data is never going to change. An example of this can be a city name, a country name e.t.c

Example:

In [41]:
tuple_scoops = (1,2,3,2,1)

In [42]:
type(tuple_scoops)

tuple

In [43]:
tuple_scoops[0]

1

### Sets

A set does not have any duplicate elements.

The values in a set cannot be accessed with an index because it does not have an index. 

**The reason why it doen have an index is because it is actually unordered.**

**We can still loop through a set using a for loop** but we can't access it using a bracket and an index point.


**Examples:**

In [46]:
daily_pints = {1,2,3}

print(daily_pints)

{1, 2, 3}

In [45]:
type(daily_pints)

set

**The "_log" function in a set only provides the unique values in that set.**

In [47]:
daily_pints_log = {1,2,3,3,4,5,2,3,4,2,1,222,3,4,}

print(daily_pints_log)

{1, 2, 3, 4, 5, 222}

In [50]:
wifes_daily_pints_log = {1,2,3,6,7,88,999,87,46}

print(wifes_daily_pints_log)

{1, 2, 3, 6, 7, 999, 46, 87, 88}

**A use case for sets is comparing two seperate sets.**

In [51]:
print(daily_pints_log | wifes_daily_pints_log)

{1, 2, 3, 4, 5, 6, 7, 999, 46, 87, 88, 222}

**The & functions show figures that are present in both sets.**

In [52]:
print(daily_pints_log & wifes_daily_pints_log)

{1, 2, 3}

**The - function shows figures that don't match in two sets**

In [53]:
print(daily_pints_log - wifes_daily_pints_log)

{4, 5, 222}

**The ^ fuctions shows if a value is either in one or the other but not in both.**

In [54]:
print(daily_pints_log ^ wifes_daily_pints_log)

{4, 5, 6, 7, 999, 46, 87, 88, 222}

### Dictionary

Within a data type, we have something called a key/value pair.

**When we use a dictionary, we have a key to what a value is attributed to.**


**Examples:**

In [57]:
dict_cream ={
    'Name' : 'Donald Ebube',
    'Weekly Intake' : '10',
    'Favourite Ice Creams' : ['Vanilla', 'Chocolate']
}

In [58]:
type(dict_cream)

dict

In [61]:
print(dict_cream)

{'Name': 'Donald Ebube', 'Weekly Intake': '10', 'Favourite Ice Creams': ['Vanilla', 'Chocolate']}

In [59]:
dict_cream.values()

dict_values(['Donald Ebube', '10', ['Vanilla', 'Chocolate']])

In [60]:
dict_cream.keys()

dict_keys(['Name', 'Weekly Intake', 'Favourite Ice Creams'])

In [63]:
dict_cream.items ()

dict_items([('Name', 'Donald Ebube'), ('Weekly Intake', '10'), ('Favourite Ice Creams', ['Vanilla', 'Chocolate'])])

**We call a dictionary by the key**, rather than the **index**.

In [64]:
dict_cream['Name']

'Donald Ebube'

**Another cool feature is that you can update information in a dictionary.**

In [65]:
dict_cream['Name'] = 'Amanda Ebube'

print(dict_cream)

{'Name': 'Amanda Ebube', 'Weekly Intake': '10', 'Favourite Ice Creams': ['Vanilla', 'Chocolate']}

**We can also update the whole data info at once using the UPDATE function.**

The **UPDATE** function does not delete your info in a dictionary, but it just adds to it

In [67]:
dict_cream.update ({'Name': 'Amanda Ebube', 'Weekly Intake': '8', 'Weight': '300 pounds'})

print(dict_cream)

{'Name': 'Amanda Ebube', 'Weekly Intake': '8', 'Favourite Ice Creams': ['Vanilla', 'Chocolate'], 'Weight': '300 pounds'}